/* DEFAULT STYLES FOR ALL PAGES */

/* Global and base styling */
* {
    background-color: #FEFBF7;
    color: #4E3E30; /* Text color */
    font-family: "IBM Plex Sans", sans-serif; 
    font-optical-sizing: auto; /* Auto-scaling for better readability */
    font-weight: 400; /* Corrected from '00' to '400' */
    font-style: normal;
    /* margin: 10px 50px; */
    box-sizing: border-box;
}


/* * { outline: 1px solid rgb(161, 77, 77,0.5); } */

/* NAVIGATION BAR */
.main-wrapper{
  display: flex;
  gap: 10rem;
  padding: 1.5rem 4rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  /* box-sizing: border-box; */
  
}
.hiba-assamaouat-logo {
  font-family: "Playfair Display";
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    text-decoration: none;
    margin: 0px;
    color: #1c3752;
}

.navbar-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 4rem;
}
.navbar{
  top: 0;
  width: 100%;
}
/* Navigation Links */
ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem 0;
    overflow: hidden;
    background-color: #FEFBF7;
}

li {
    float: left;
    margin: 0 5px;
    padding: 1rem 2rem;
}

li a{
  text-decoration: none;
  color: #4e3e30;
  display: inline;
  transition: 0.2s ease-in-out;
}

li a:hover {
    color: #af550f;
    font-weight: bold;
}

li a.active {
    color: #1c3752;
    font-weight: bold;
}


/* Navigation bar collapse for smaller windows */
.navbar-collapse {
    display: none; /* Hidden by default */
}

@media screen and (max-width: 600px) {
    ul {
        display: none; /* Hide the navigation links */
    }
    .navbar-collapse {
        display: block; /* Show the hamburger menu */
        cursor: pointer;
    }
}

/* FOOTER */
.footer{
  /* padding: 1.5rem 4rem;
  box-sizing: border-box; */

  font-size: smaller;
  width: 100%;
  border-top: 1px solid #ccc;
  margin-top: 3rem;
  padding: 1rem clamp(1rem, 5vw, 4rem);

  position: relative;
  display: inline-block;
}


.footer-content{
  display: flex;
  justify-content: space-between; /* pushes items on the left and right extremities */
  align-items: center;
}

.footer-socials{
  display: flex;
  gap: 0.75rem;
}

.fa{
  padding: 10px;
  font-size: 15px;
  

  text-align: center;
  text-decoration: none;
  /* margin: 1px 5px; */
  border-radius: 100%;
  transition: 0.2s ease-in-out;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-items: center;
  line-height: 1;

  width: 32px;
  height: 32px;
}
.fa:hover{
  background: #af550f;
}
.fa-linkedin{
  background:#1c3752;
  color: white;
  /* padding: 10px;  */
  border-radius: 50%;
  text-decoration: none;
}
.fa-github{
  background:#1c3752;
  color: white;
  /* padding: 10px;  */
  border-radius: 50%;
  text-decoration: none;
}
.fa-envelope{
  font-size: 12px;
  background:#1c3752;
  color: white;
  /* padding: 10px;  */
  border-radius: 50%;
  text-decoration: none;
}

/* Attempt at including email on hover */
/* possible explanation of failure: the text needs sufficient space to appear (margin perhaps)*/
.hide {
  display: none;
}
.fa-envelope:hover + .hide{
  display: block;
  color: #1c3752;
}
