/* === PALETTE === */
/* CREAM color: #FEFBF7; */
/* NAVY BLUE color: #1c3752; */
/* DARK BROWN color: #4e3e30; */
/* ORANGE color: #af550f; */

/* * { outline: 1px solid rgb(161, 77, 77,0.5); } */


.experience-wrapper{
  /* margin-top: 100px; /* to avoid content being hidden behind the fixed navbar 
  padding: 1rem 10rem; */

  margin: 100px 5vw 0; /* top | left-right auto | bottom */
  padding: 1rem clamp(1.5rem, 6vw, 10rem);
  max-width: 1800px;

  justify-self: left;

  display: flex;
  justify-content: center;

  /* max-width: 18000px; */
}

.experience-content{
  width: fit-content;
  max-width: 100vw;
}

.experience-documents{
  display: flex;
  gap: 2rem;

  align-items: center;
  justify-self: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.experience-documents-item{
  display: inline-block;
  padding: 0.7rem 1.4rem;
  border-radius: 999px;            /* fully rounded */
  border: 1px solid #4e3e30;

  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #4e3e30;

  transition: background-color 0.3s ease, transform 0.3s ease;
}
.experience-documents-item:hover{
  background-color: #1c3752;
  color: #FEFBF7;
  transform: scale(1.05);
}

/* Position Card */
.card {
  display: flex;
  align-items: stretch;
  width: 100%;
  max-width: 420vw;
  height: 100px;
  padding:10px 1px;

  border: 1px solid #b8b8b8;
  border-radius: 20px;
  overflow: hidden;

  text-decoration: none;
  color: inherit;
  background: #FEFBF7;

  transition: transform 0.15s ease, box-shadow 0.15s ease;

  margin-bottom: 1rem;
}
/* No hover effect because not clickable yet, maybe in the future i'l add detailed text about each position */
/* .card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
} */

.card-content {
  flex: 1;
  padding: 1rem 1.2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-text h3 {
  margin: 0 0 0.2rem 0;
  font-size: 1rem;
  font-weight: 500;
}
.card-text h4 {

  margin: 0rem 0 0rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
}
.card-text h5{
  margin: 0 0 0 0.5rem;
  font-size: 0.6rem;
  font-weight: 400;
  font-style: italic;
}
.card-text p {
  margin: 0;
  font-size: 0.85rem;
  opacity: 0.7;
}

/* Job position description list */
.card-middle {
  flex: 2;
  padding: 1rem 1.2rem;

  display: flex;
  align-items: center;

  border-left: 1px solid #d0d0d0; /* vertical separator */
}
.card-middle ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; 
  padding-left: 1rem;

  display: flex;
  flex-direction: column; /* STACKED */
  /* gap: 0.3rem; */

  font-size: 0.8rem;
  /* line-height: 1.4; */
  opacity: 0.85;
}
.card-middle li {
  text-indent: 0rem;
  line-height: 2;
  margin: 0;
  padding: 0;
}


.card-image {
  width: 120px;
  flex-shrink: 0;
  margin-right: 12px;
  
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* fits the image within the container */
  display: block;
  justify-self: center;
}


@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: flex-start;
  }
  .card-media {
    display: none; /* we just hide the image on small screens */
  }
}

@media (max-width: 1440px){
  .card{
     height: 10vw;
  }
}

/* Mini Card for Selected Projects */
.mini-card-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
}
.mini-card {
display: flex;
  align-items: stretch;
  width: 100%;
  max-width: 420px;
  height: 100px;

  border: 1px solid #b8b8b8;
  border-radius: 20px;
  overflow: hidden;

  text-decoration: none;
  color: inherit;
  background: #fff;

  transition: transform 0.15s ease, box-shadow 0.15s ease;
}
.mini-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.mini-card-content {
  flex: 1;
  padding: 1rem 1.2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mini-card-text h3 {
  margin: 0 0 0.2rem 0;
  font-size: 1rem;
  font-weight: 450;
}
.mini-card-text p {
  margin: 0;
  font-size: 0.85rem;
  opacity: 0.7;
}

.mini-image {
  width: 120px;
  flex-shrink: 0;
}

.mini-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* fits the image within the container */
  display: block;
}


@media (max-width: 500px) {
  .mini-card {
    flex-direction: column;
    align-items: flex-start;
  }
  .mini-card-media {
    display: none; /* we just hide the image on small screens */
  }
}

.see-more-section{
  display: flex;
  flex-direction: column;
}
.see-more-link {
  align-self: flex-end;          /* bottom right */
  margin-top: 1rem;

  font-size: 0.85rem;
  text-decoration: none;
  color: inherit;
  opacity: 0.6;

  transition: opacity 0.15s ease, transform 0.15s ease;
}
.see-more-link:hover {
  opacity: 1;
  transform: translateX(2px);
}