/* === PALETTE === */
/* CREAM color: #FEFBF7; */
/* NAVY BLUE color: #1c3752; */
/* DARK BROWN color: #4e3e30; */
/* ORANGE color: #af550f; */

/* * { outline: 1px solid rgb(161, 77, 77,0.5); } */


.projects-wrapper{
  margin-top: 100px; /* to avoid content being hidden behind the fixed navbar */
  padding: 1rem 10rem;
  justify-self: left;

  max-width: 1800px;
}

.projects-content{
  width: fit-content;
  max-width: 100vw;
}


/* PROJECTS GALLERY */
.gallery-filters {
  margin-top: 4rem;
  position: relative;
  width: 100%; /* makes the divider extend to the length of the page container */
}

.filter-divider {
  height: 2px;
  width: 100%;
  background: #4e3e3016;
  margin-top: 2px;
}

.filter-section {
  display: inline-flex;
  gap: 0.5rem;
}

/* Filter Button Config. */
.filter-button {
  position: relative;
  border: none;
  background: #FEFBF7;
  padding: 6px 26px;
  cursor: pointer;
  font-weight: 500;
}

.filter-button::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* aligns with divider */
  width: 100%;
  height: 1px;
  background: #af550f;

  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  /* transition:
    transform 0.4s ease,
    opacity 0.25s ease,
    height 0.25s ease; */

  transition: transform 0.4s cubic-bezier(.4,0,.2,1);
  }

/* Add a grey background color on mouse-over */
.filter-button:hover {
  font-weight: 600;
  color: #af540f7b;
}
.filter-button:hover::after {
  opacity: 1;
  transform: scaleX(1);
  height: 2px;
}

/* Add a dark background color to the active button */
.filter-button.active {
  font-weight: bold;
  color: #1c3752;
}
.filter-button.active::after {
  opacity: 1;
  transform: scaleX(1);
  height: 2px;
  background: #1c3752;
}