/* === PALETTE === */
/* CREAM color: #FEFBF7; */
/* NAVY BLUE color: #1c3752; */
/* DARK BROWN color: #4e3e30; */
/* ORANGE color: #af550f; */

/* * { outline: 1px solid rgb(161, 77, 77,0.5); } */


.projects-wrapper{
  margin-top: 100px; /* to avoid content being hidden behind the fixed navbar */
  padding: 1rem 10rem;
  justify-self: left;

  max-width: 1800px;
}

.projects-content{
  width: fit-content;
  max-width: 100vw;
}