/* === PALETTE === */
/* CREAM color: #FEFBF7; */
/* NAVY BLUE color: #1c3752; */
/* DARK BROWN color: #4e3e30; */
/* ORANGE color: #af550f; */

/* * { outline: 1px solid rgb(161, 77, 77, 0.5); } */


.blog-wrapper{
  /* margin-top: 100px; to avoid content being hidden behind the fixed navbar */
  margin: 100px auto 0; /* top | left-right auto | bottom */
  padding: 1rem clamp(1.5rem, 6vw, 10rem);
  max-width: 1800px;
  justify-content: center;
}

